.cell {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    background: "yellow";
    overflow: hidden;
}
.bomb,
.gopher {
    width: 200px;
    height: 200px;
    bottom: 0;
    position: absolute;
    transition: bottom 1s;
}
.gopher {
    background: url("../images/gopher.png") center center no-repeat;
    background-size: 200px 200px;
}
.dead {
    background: url("../images/dead_gopher.png") center center no-repeat;
    background-size: 200px 200px;
}
.bomb {
    background: url("../images/bomb.png") center center no-repeat;
    background-size: 200px 200px;
}
.boom {
    background: url("../images/explode.png") center center no-repeat;
    background-size: 200px 200px;
}
.hidden {
    bottom: -200px;
}
.hole {
    width: 200px;
    height: 150px;
    position: absolute;
    bottom: 0;
    background: url("../images/mole-hole.png") center center no-repeat;
    background-size: 200px 150px;
}
.hole-front {
    width: 200px;
    height: 30px;
    position: absolute;
    bottom: 0;
    background: url("../images/mole-hole-front.png") center center no-repeat;
    background-size: 200px 30px;
}
.image-container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 100%; /* 텍스트를 이미지 아래로 내리기 위한 값 설정 */
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    font-size: 14px;
    color: black;
}
